/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */


header { 
	background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(lettuce.jpeg); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%; 
	}

h1 { 
  	font-family: "Acme", sans-serif;
  	font-weight: 400;
  	font-style: normal;
  	font-size: 4.4em;
	color: whitesmoke;
	text-shadow: 2px 2px 4px #000000;
 }

header p { 
	font-size: 1.7em !important;
	font-weight: bold !important;
	color: whitesmoke;
	text-align: center;
 }

.blue-bg { 
	background-color: #E8D2AE;
	color: black;
}

.tan-bg {
	background-color: #F5E3C5;
}

#about {
	font-size: 1.2em;
}

h5 { 
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase; 
}

h2 { 
	font-family: "Libre Baskerville", serif;
  	font-weight: 700;
  	font-style: normal;
	font-size: 2em;
	text-align: center; 
}

p { 
	font-family: "Poppins", sans-serif;
  	font-weight: 400;
  	font-style: normal;
	text-align: center; 
}

.card-body { 
	text-align: center;
  font-family: "Cantata One", serif;
  font-weight: 400;
  font-style: normal;
}

